<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vacation_spot.name %>
</p>

<%= link_to 'Edit', edit_vacation_spot_path(@vacation_spot) %> |
<%= link_to 'Back', vacation_spots_path %>
